@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label,legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;color: inherit; font-style: normal;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}ol, ul {list-style: none;}table {border-collapse: collapse;border-spacing: 0;}
*{box-sizing: border-box;}
/** {margin: 0; padding: 0; font-size: 1em; font-style: normal; font-weight: normal; text-decoration: none; vertical-align: middle; border: 0 solid transparent; outline: 0; box-sizing: border-box; background-repeat: no-repeat; }*/
b, strong {font-weight: bold;}
input[type="button"],input[type="submit"],button,a,label {cursor: pointer;}
input,textarea,button{margin:0;padding:0;border: 0;}
img,a {display: block;text-decoration: none;}

/* Common  */
.clearfix:after {content: ""; display: block; clear: both;}
.inner {margin: auto;}
.inner:after {content: ""; display: block; clear: both;}
.h_wrap {position: relative; margin: auto; height: 100%; width: 100%;}
.ellpsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* Global */
::placeholder {opacity: 0.6;}
.fll {float: left;}
.flr {float: right;}


